.about-section {
  position: relative;
  padding: 6rem 6rem;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.1) 0%,
      rgba(0, 0, 0, 0.5) 75%,
      #000 100%
    ),
    url("../../../assets/img/bg-masthead.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  min-height: 100vh;
}

.container-wrapper {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 2rem 0rem;
  min-height: 70vh;
  border-radius: 0.5rem;
}
