<div class="container">
    <h4>No negative marking, attempt all questions</h4>
    <form #examForm="ngForm" (ngSubmit)="validateAns(examForm)">
        <div class="mb-3" *ngFor="let obj of questions, let i = index">
            <p class="question"> {{i+1}}. {{obj.question}}</p>
            <input type="radio" name="q{{i+1}}" value="{{obj.options[0]}}" ngModel required> {{obj.options[0]}}
            <input type="radio" name="q{{i+1}}" value="{{obj.options[1]}}" ngModel required> {{obj.options[1]}}
            <input type="radio" name="q{{i+1}}" value="{{obj.options[2]}}" ngModel required> {{obj.options[2]}}
            <input type="radio" name="q{{i+1}}" value="{{obj.options[3]}}" ngModel required> {{obj.options[3]}}


        </div>

        <button type="submit" data-bs-toggle="modal" data-bs-target="#exampleModal">Submit</button>
    </form>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Exam Result</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{finalMsg}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>