<div class="user-list-section">
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Serial</th>
                    <th scope="col">User Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Email</th>
                    <th scope="col">Test-Taken</th>
                    <th scope="col">Result</th>
                </tr>
            </thead>
            <tbody>
                <tr scope="row" *ngFor="let user of users, let i=index">
                    <td>{{i+1}} </td>
                    <td>{{user.userId}}</td>
                    <td>{{user.name}} </td>
                    <td>{{user.gender}} </td>
                    <td>{{user.email}} </td>
                    <td>{{user.testTaken}} </td>
                    <td>{{user.result}} </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>