<div class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h1 class="mx-auto my-0 text-uppercase">welcome</h1>
                <h2 class="text-white-50 mx-auto mt-2 mb-5">Get your certifications today! Hurry and complete the
                    Assessment. Good Luck!</h2>
                <a class="btn btn-secondary" href="/user/login">Login</a>
            </div>
        </div>
    </div>
</div>